@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.loader {
	width: 48px;
	height: 48px;
	border: 5px solid #fff;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

.statusMessage {
	color: white;
	font-family: "Fira Sans", "Nunito", sans-serif, system-ui;
	margin-bottom: auto;
}

.dataWrapper {
	height: 70%;
	width: 100%;
	max-width: 800px;
	border: 1px solid red;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1em;
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(8px);
	font-family: "Nunito", "Fira Sans", sans-serif, system-ui;
	animation: fade-in 0.6s;
}

.hidden {
	animation: fade-out 0.2s forwards;
}

.topInfo {
	margin: 1em;
	margin-bottom: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.topInfo a {
	text-decoration: none;
	position: absolute;
	left: 0;
	margin-left: 2em;
	transition: scale 0.35s ease-in-out;
}

.topInfo a:hover {
	scale: 1.05;
}

.topInfo a:active {
	scale: 0.9;
}

.weatherForm .formRow {
	position: relative;
	display: flex;
	align-items: center;
}

.weatherForm input {
	border: 1px solid rgba(255, 255, 255, 0.2);
	outline: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 0.6);
	background-color: rgba(0, 0, 0, 0.2);
	padding: 0.7em 1em;
	font-size: 1rem;
	font-weight: bold;
	border-radius: 1em;
	position: relative;
	transition: color 0.35s ease-in-out, box-shadow 0.1s ease-in-out;
}

.weatherForm input:hover,
.weatherForm input:focus {
	box-shadow: 0 0 10px rgba(252, 213, 97, 0.7);
}

.weatherForm input:not(:placeholder-shown) {
	color: rgba(255, 255, 255, 1);
}

.weatherForm input::placeholder {
	color: rgba(255, 255, 255, 0.6);
	transition: color 0.35s ease-in-out;
}

.weatherForm .submitForm {
	background: none;
	border: none;
	position: absolute;
	right: 0.5em;
}

.submitForm svg {
	margin-right: 0.5em;
	transition: fill 0.35s ease-in-out, scale 0.35s ease-in-out;
	cursor: pointer;
}

.submitForm svg:hover {
	fill: rgba(255, 255, 255, 0.9);
	scale: 1.05;
}

.submitForm svg:active {
	scale: 0.9;
}

.dataSection {
	flex: 1;
	align-items: center;
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 2em;
}

.leftData {
	max-width: 500px;
}

.leftData h1:first-child {
	color: rgba(242, 243, 244, 0.95);
	font-weight: bold;
	font-size: 2rem;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	font-family: "Fira Sans";
}

.leftData p {
	color: rgb(255, 255, 255, 0.9);
	font-weight: 400;
	font-size: 1.2rem;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	font-family: "Fira Sans";
}

.leftData .weatherDescription {
	color: rgba(255, 255, 255, 1);
	font-weight: 300;
	font-size: 2.8rem;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
	font-family: "Fira Sans";
	max-width: 400px;
}

.rightData {
	display: grid;
	grid-template-columns: 125px 125px;
	grid-template-rows: 100px 100px;
	align-items: center;
	justify-items: center;
	margin-top: 1em;
}

.rightData p {
	color: white;
	font-size: 2.8rem;
	font-weight: 300;
	font-family: "Fira Sans", "Nunito", sans-serif, system-ui;
}

.rightData .square {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90%;
	width: 90%;
	position: relative;
}

.square > p > span:first-child {
	position: absolute;
	top: 0;
	left: 0;
	font-weight: 500;
	font-size: 1rem;
}

.square > p > .minTemp {
	color: rgb(160, 222, 255);
}

.square > p > .maxTemp {
	color: rgb(255, 213, 0);
}

.square > p > .measurement {
	font-size: 1.1rem;
	font-weight: 300;
}

.square > p > .degrees {
	font-size: 2.1rem;
	font-weight: 200;
}

.bottomData .cards {
	display: flex;
	gap: 1.5em;
	padding: 1em;
	margin-bottom: 1em;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
